header {
text-align: center; 
	margin: 0px; 
	padding: 0px;
background: rgb(240, 216, 0);

}

img {
	max-height: 15%;
	max-width: 15%;
	float: right; 
	padding: 20px;
	
}

Body {
	text-align: left;
	background: rgba(180,180,180,1.00);
    padding: 20px;
	

}

footer {
	text-align: center; 
	margin: 0px; 
	padding: 0px;
background: rgb(240, 216, 0);
	align-content: flex-end;
}
.section {
	text-align: center;
}